@use "./styleUtils/" as *;

.App {
  width: 100%;
  margin: 1rem 0;
  .products-wrap {
    margin-top: 2rem;
    @include flex($justify: flex-start, $align: stretch);
    column-gap: 5%;
    width: 100%;
    flex-wrap: wrap;
    @include mq(mobile) {
      margin-top: 1rem;
      align-items: flex-start;
      justify-content: space-between;
      column-gap: unset;
    }
  }
  @include mq(mobile) {
    h1 {
      font-size: 1.5rem;
    }
  }
}
