@use "./styleUtils/colors";
@use "./styleUtils/layout";
@use "./styleUtils/" as *;
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

ul {
  list-style-type: none;
}
::placeholder {
  color: var(--placeholder);
}

body {
  background-color: var(--bg-color);
  font-size: 14px;
  h1,
  h2,
  h3,
  p,
  h4,
  h5,
  h6,
  svg,
  a,
  input {
    color: var(--textClr);
  }
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.cover {
  width: 85%;
  margin: auto;
  max-width: 1140px;
  @include mq(mobile) {
    width: 90%;
  }
}
.cover2 {
  width: 75%;
  margin: auto;
  max-width: 1140px;
  @include mq(mobile) {
    width: 90%;
  }
}
.btn {
  @include button;
}
.btn-icon-start {
  font-size: 12px;
  svg {
    margin-right: 0.8rem;
    max-width: 20px;
    max-height: 18px;
  }
}
.btn-icon-end {
  font-size: 12px;
  svg {
    margin-left: 0.8rem;
    max-width: 20px;
    max-height: 18px;
  }
}
.btn-primary {
  @include button;
  background: var(--primary);
  color: white;
}
.btn-sec {
  @include button;
  background: transparent;
  border: 1px solid var(--primary);
}

.btn-accentBlue {
  @include button;
  background: var(--accentBlue);
  color: var(--primary);
  border: 1px solid var(--accentBlueBorder);
}

.btn-noBg {
  @include button;
  padding: 0.3rem;
  background: transparent;
  border: none;
  outline: none;
  color: var(--primary);
  &:hover,
  &:focus {
    box-shadow: none;
  }
}
.timeline-item {
  &::before {
    display: none !important;
  }
}
.special-tag {
  padding: 0.5rem 3rem;
  color: var(--whiteClr);
  position: absolute;
  top: 25px;
  min-width: 175px;
  font-weight: 500;
  right: -35px;
  z-index: 2;
  transform: rotate(35deg);
}
.dropFilt {
  position: absolute;
  z-index: 2;
  width: 200px;
  top: 10px;
  right: 70px;
  background: var(--whiteClr);
  padding: 20px 10px;
  padding-bottom: 0;
  transform: scale(0);
  transform-origin: right top;
  transition: transform 0.3s ease;
  border-radius: 8px;
  box-shadow: $card-shadow;
  @include mq2(768px) {
    top: 40px;
    right: 30px;
  }
  &::after {
    content: "";
    position: absolute;
    top: -8px;
    right: 20px;
    color: black;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--whiteClr);
    width: 0;
    height: 0;
  }
  ul {
    display: flex;
    flex-direction: column;
    height: 120px;
    overflow-y: auto;
    text-align: center;
    @include webkit;
    li {
      list-style-type: none;
      margin-bottom: 15px;
      width: 100%;
      cursor: pointer;
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
      text-align: center;

      color: var(--blackClr);
      &:hover {
        color: var(--primary);
      }
      a {
        display: flex;
        align-items: center;
        width: 90%;
        margin: auto;
        img {
          width: 12px;
          margin-right: 7px;
        }
        p {
          font-size: 9.61325px;
          line-height: 10px;
          color: var(--blackClr);
        }
      }
    }
    .line {
      width: 98%;
      margin: auto;
      border-bottom: 1px solid rgba($color: var(--primary), $alpha: 0.1);
      margin-bottom: 15px;
    }
  }
  &.show {
    transform: scale(1);
  }
}
.slick-dots {
  bottom: -40px !important;
  li.slick-active {
    button::before {
      color: var(--primary) !important;
      opacity: 1 !important;
    }
  }
  li {
    margin: 0 !important;
    padding: 0.2rem 0.1rem !important;
    &,
    & * {
      width: max-content !important;
      height: max-content !important;
    }
    button {
      padding: 3px;
    }
  }
  li button {
    &:hover {
      box-shadow: none;
    }
    &::before {
      color: #d3d2d2 !important;
      font-size: 8px !important;
      opacity: 0.5 !important;
    }
  }
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1rem;
}
